@font-face{
  font-family: "Avara-Bold";
  src: url("Fonts/Avara-Bold.woff2") format("woff2");
}
@font-face{
  font-family: "Mess-Light_web";
  src: url("Fonts/Mess-Light_web.woff2") format("woff2");
}


img{
    max-width:100%;
    height:auto;
}

body{
    background-color: rgb(45, 14, 0);
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 15px;
    font-weight: normal;
    font-style:normal;
    color:rgb(138, 178, 187);
}
.grid-container {
    display:grid;
    padding:15px 15px 15px;
    gap: 15px;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    grid-template-areas:
    ". . name . ."
    ". . bio . ."
    "name2 image-1 image-1 image-1 text-1"
    ". image-102 image-102 image-102 ."
    ". image-103 image-103 image-103 ."
    ". image-104 image-104 image-104 ."
    "drehbuch image-2 image-2 image-2 text-2"
    ". image-202 image-202 image-202 ."
    ". image-203 image-203 image-203 ."
    ". image-204 image-204 image-204 ."
    "chat image-3 image-3 image-3 text-3 " 
    ". image-302 image-302 image-302 ."
    ". image-303 image-303 image-303 ."
    ". image-304 image-304 image-304 ."
    ". image-305 image-305 image-305 ."
    ;
}


 .name h1{
    color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
   }

   .name{
    grid-area: name;
   }

   .name h1:hover {
    color:rgb(120, 24, 0);
    transition: color 0.8s;
   }

.bio{
    grid-area: bio;
}



.bio p{
    font-size: 20px;
    margin: 0; 
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.bio p:hover{
    opacity: 1;
}


.name2 h2 {
   color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name2 {
   grid-area: name2; 
}

.name2 h2:hover {
    color:rgb(120, 24, 0);
    transition: color 0.8s;
   }

.image-1{
    grid-area: image-1;
}


.image-102{
    grid-area: image-102;
    position: relative;
    transform: scale(0.4)
}

.image-102 img{
    transition: opacity 0.3s ease;
}

.image-102 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-102:hover .a {
    opacity: 0;
}

.image-102:hover .b {
    opacity: 1;
}

.image-103{
    grid-area: image-103;
    transform: scale(0.4);
}

.image-103 img{
    transition: transform 1s ease;
}

.image-103 img:hover{
    transform: scale(2.4)
}
.image-103 img:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.image-104{
    grid-area: image-104;
    transform: scale(0.4);
}

.image-104 img{
    transition: transform 1s ease;
}

.image-104 img:hover{
    transform: scale(2.4);
}

.drehbuch h3 {
   color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.drehbuch {
   grid-area: drehbuch; 
}

.drehbuch h3:hover {
    color:rgb(120, 24, 0);
    transition: color 0.8s;
   }

.image-2{
    grid-area: image-2;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    margin: o;
}
.image-202{
    grid-area: image-202;
    transform: scale(0.4);
}

.image-202 img{
    transition: transform 1s ease;
}

.image-202 img:hover{
    transform: scale(2.4);
}

.image-203{
    grid-area: image-203;
    transform: scale(0.4);
}

.image-203 img{
    transition: transform 1s ease;
}

.image-203 img:hover{
    transform: scale(2.4);
}

.image-204{
    grid-area: image-204;
    transform: scale(0.4);
}

.image-204 img{
    transition: transform 1s ease;
}

.image-204 img:hover{
    transform: scale(2.4);
}

.chat-de-passage h3 {
   color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Chat de Passage{
   grid-area: chat de passage; 
}

.Chat de Passage h3:hover {
    color:rgb(120, 24, 0);
    transition: color 0.8s;
   }

.image-3{
    grid-area: image-3;
}

.image-302{
    grid-area: image-302;
    transform: scale(0.4);
}

.image-302 img{
    transition: transform 1s ease;
}

.image-302 img:hover{
    transform: scale(2.4);
}

.image-303{
    grid-area: image-303;
    transform: scale(0.4);
}

.image-303 img{
    transition: transform 1s ease;
}

.image-303 img:hover{
    transform: scale(2.4);
}

.image-304{
    grid-area: image-304;
    transform: scale(0.4);
}

.image-304 img{
    transition: transform 1s ease;
}

.image-304 img:hover{
    transform: scale(2.4);
}

.image-305{
    grid-area: image-305;
    transform: scale(0.4);
}

.image-305 img{
    transition: transform 1s ease;
}

.image-305 img:hover{
    transform: scale(2.4);
}

.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

.text-3{
    grid-area: text-3;
} 

.Drehbuch{
    grid-area: Drehbuch;
}