@font-face{
  font-family: "Avara-Bold";
  src: url("Fonts/Avara-Bold.woff2") format("woff2");
}
@font-face{
  font-family: "Mess-Light_web";
  src: url("Fonts/Mess-Light_web.woff2") format("woff2");
}


img{
    max-width:100%;
    height:auto;
}

body{
    background-color: rgb(45, 14, 0);
    font-family: "Avara-Bold", serif;
    font-size: 15px;
    font-weight: normal;
    font-style:normal;
    color:rgb(133, 192, 161);
}
.grid-container {
    display:grid;
    padding:15px 15px 15px;
    gap: 15px;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    grid-template-areas:
    ". . name . ."
    ". . bio . ."
    ". image-1 image-1 image-1 text-1"
    ". image-2 image-2 image-2 text-2"
    ". image-3 image-3 image-3 text-3 "
    ;

}

.name {
   grid-area: name; 
}

 .name h1 {
    color:rgb(133, 192, 168);
    font-size: 10rem;
    margin: 0;
    font-family: "true-gore", sans-serif;
    font-weight: 400;
    font-style: normal;
    
   }

   .name h1:hover {
    color:rgb(120, 24, 0);
   }

.bio{
    grid-area: bio;
}



.bio p{
    font-size: 20px;
    margin: 0; 
}

.image-1{
    grid-area: image-1;
}


.image-2{
    grid-area: image-2;
}


.image-3{
    grid-area: image-3;
}

.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

.text-3{
    grid-area: text-3;
}

