@font-face{
  font-family: "Avara-Bold";
  src: url("Fonts/Avara-Bold.woff2") format("woff2");
}
@font-face{
  font-family: "Mess-Light_web";
  src: url("Fonts/Mess-Light_web.woff2") format("woff2");
}


img{
    max-width:100%;
    height:auto;
}

body{
    background-color: rgb(45, 14, 0);
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 15px;
    font-weight: normal;
    font-style:normal;
    color:rgb(138, 178, 187);
}
.grid-container {
    display:grid;
    padding:15px 15px 15px;
    gap: 15px;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    grid-template-areas:
    ". . name . ."
    ". . bio . ."
    "name2 image-1 image-1 image-1 text-1"
    "name2 image-102 image-102 image-102 text-102"
    ". image-103 image-103 image-103 text-103"
    ". image-104 image-104 image-104 text-104"
    ". image-2 image-2 image-2 text-2"
    ". image-202 image-202 image-202 text-202"
    ". image-203 image-203 image-203 text-203"
    ". image-204 image-204 image-204 text-204"
    ". image-3 image-3 image-3 text-3 " 
    ". image-302 image-302 image-302 text-302 "
    ". image-303 image-303 image-303 text-303 "
    ". image-304 image-304 image-304 text-304 "
    ". image-305 image-305 image-305 text-305 "
    ;
}


 .name h1{
    color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
   }

   .name{
    grid-area: name;
   }

   .name h1:hover {
    color:rgb(120, 24, 0);
   }

.bio{
    grid-area: bio;
}



.bio p{
    font-size: 20px;
    margin: 0; 
}


.name2 h2 {
   color:rgb(138, 178, 187);
    font-size: 12rem;
    margin: 0;
    font-family: "cc-dead-mans-folly", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name2 {
   grid-area: name2; 
}

.image-1{
    grid-area: image-1;
}


.image-102{
    grid-area: image-102;
}

.image-103{
    grid-area: image-103;
}

.image-104{
    grid-area: image-104;
}

.image-2{
    grid-area: image-2;
}

.image-202{
    grid-area: image-202;
}

.image-203{
    grid-area: image-203;
}
.image-204{
    grid-area: image-204;
}


.image-3{
    grid-area: image-3;
}

.image-302{
    grid-area: image-302;
}

.image-303{
    grid-area: image-303;
}

.image-304{
    grid-area: image-304;
}

.image-305{
    grid-area: image-305;
}

.text-1{
    grid-area: text-1;
}

.text-102{
    grid-area: text-102;
}

.text-103{
    grid-area: text-103;
}

.text-104{
    grid-area: text-104;
}

.text-2{
    grid-area: text-2;
}

.text-202{
    grid-area: text-202;
}

.text-203{
    grid-area: text-203;
}

.text-204{
    grid-area: text-204;
}

.text-3{
    grid-area: text-3;
}

.text-302{
    grid-area: text-302;
}

.text-303{
    grid-area: text-303;
}

.text-304{
    grid-area: text-304;
}

.text-305{
    grid-area: text-305;
}