img{
    max-width:100%;
    height:auto;
}

body{
    background-color: rgb(154, 120, 73);
}
.grid-container {
 display:grid;
 padding:15px 15px 15px;
 gap: 15px;
 grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
 grid-template-areas:
 ". name . . ."
 ". bio . . ."
 ". image-1 . text-1 ."
 ". image-2 . text-2 ."
 ". image-3 . text-3 ."
 ;
}

.name {
   grid-area: name; 
   font-family: sa;
}

 .name h1 {
    color: rgb(134, 1, 1);
    font-size: 400px;
    font-family:initial;
    margin: 0;
   }

   .name h1:hover {
    color:rgb(138, 178, 187);
   }

.bio{
    grid-area: bio;
}



.bio p{
    color:rgb(134, 1, 1);
    font-size: 20px;
    margin: 0; 
}
.image-1{
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
}

.image-3{
    grid-area: image-3;
}

.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

.text-3{
    grid-area: text-3;
}

